.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

blockquote:nth-of-type(even){
    float: right;
    margin-left: 0;
}

blockquote:nth-of-type(odd){
    float: left;
    margin-right: 0;
}
.container p{
    text-indent: 4ch;
}
main a:focus,
main a:hover,
footer a:hover,
footer a:focus{
    color:red;
}
.navegacao-site a:hover{
    text-shadow: 0 0 1em pink;
}
.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus{
    transform: rotate(10deg) scale(1.4);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
}
.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus{
    transform: rotate(-10deg) scale(1.4);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
}
